@using Microsoft.AspNetCore.Http
@model WebBanSua.Models.KhachHang
@{
    ViewData["Title"] = "AdminChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="UserDashboard">
   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
   <input type="hidden" asp-for="MaKh" />
   <input type="hidden" asp-for="Password" />
   
 <div class="card shadow-lg mx-4 card-profile-bottom">
      <div class="card-body p-3">
        <div class="row gx-4">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="../assets/img/team-1.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1">
                @Context.Session.GetString("TenKh").ToString()
              </h5>
              <p class="mb-0 font-weight-bold text-sm">
                 @Context.Session.GetString("Email").ToString()
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0">Đổi Mật Khẩu</p>
              </div>
            </div>
            <div class="card-body">
              <p class="text-uppercase text-sm">Mật Khẩu</p>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label asp-for="Password" class="form-control-label">Mật Khẩu Mới</label>
                    <input asp-for="Password" id="Password" class="form-control" type="password" >
                     <span asp-validation-for="Password" class="text-danger"></span>
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="confirmPassword" class="form-control-label">Nhập Lại Mật Khẩu</label>
                    <input id="confirmPassword" class="form-control" type="password" >
                    <span asp-validation-for="Email" class="text-danger"></span>
                  </div>
                </div>
              </div>
               <button type="submit" value="Save" class="btn btn-primary">Lưu Thay Đổi</button>
              <hr class="horizontal dark">
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
    <script type="text/javascript">
    
        var password = document.getElementById("Password")
  , confirm_password = document.getElementById("confirmPassword");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Mật khẩu không trùng khớp !");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
    </script>
